<div class="homepage-container">
  <div class="image-container">
    <%= image_tag "image3.jpg", class: "background-image" %>
    <div class="overlay-text">
      <h1> Phonebook App</h1>
<p>Stay organized and easily manage your contacts with our intuitive Phonebook App. Effortlessly store and access all your important contact information in one place. </p>
      <%= link_to "View your contacts", contacts_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<br />

<br />
<br />

