/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 * {
    font-family: 'Montserrat', sans-serif;
  }
  
 .homepage-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F5F5F5;
    text-align: center;
  }

  .overlay-image {
    position: fixed;
    width: 85%;
    height: 90%; 
    background-size: cover;
    background-position: center;
  }
  
  .overlay-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 40%; 
    background-color: transparent; 
    border: 2px solid #000000; 
    padding: 20px;
    box-shadow: 0 0 8px lightblue; 
  }

  .fixed-size {
    width: 100%; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image maintains its aspect ratio and fills the designated space */
  }
  .logo-img {
    height: 80px; /* Adjust the height as per your requirement */
    width: auto;
    object-fit: contain;
  }
  
  
  
  

  
  
